.card{
width:200px; 
height:300px;
border:2px solid black;
}	

.kart{
width:200px; 
height:210px;
border-bottom:2px solid black;
}

.cont{
padding:10px;
text-align: center;
height:100%;	
}

.imya{
font-weight:700;
font-size:20px;	
}

.strana{
font-size:12px;
margin-top:10px;	
}

.cardlist{
display:flex;
flex-wrap:wrap;
gap:52px;
justify-content: center;
}

a{
color: black;
text-decoration: none;	
}

body{
font-family: 'Arial', sans-serif;
margin: 0;
padding: 0;
background-image: url(pictures/back.jpg);
background-repeat: repeat;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
	
}

header {
    background-image: url(pictures/back.jpg);
    text-align: center;
    padding: 0px;
	
.moving-text {
    position: absolute;
    font-size: 5px;
    color: #000;
    white-space: nowrap;
    animation: moveText 15s linear infinite;
	padding: 2px;
}

title{
	
}